@if (IsError)
{
    <div class="alert-container alert alert-danger">
        <h5>An error occurred</h5>
        @foreach (var validationError in Errors)
        {
            <p>
                @foreach (var error in validationError.Value)
                {
                    @error
                }
            </p>
        }
    </div>
}
else
{
    <div class="alert alert-success">
        <h4>Success</h4>
        <p>@Message</p>
    </div>
}

@code
{
    [Parameter]
    public bool IsError { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public Dictionary<string, string[]> Errors { get; set; }
}