@using OneOf.Types
@using Web.Models.Response

@inherits ComponentBase

@if (IsAlertVisible)
{
    @if (IsError)
    {
        <div class="alert-container alert alert-danger show" role="alert">
            @if (ErrorResponse.Detail is null)
            {
                <h5>Validation error</h5>
                @foreach (var validationError in ErrorResponse.Errors!)
                {
                    <p>
                        @foreach (var error in validationError.Value)
                        {
                            @error
                        }
                    </p>
                }
            }
            else
            {
                <h5>Oopps!</h5>
                <p>@ErrorResponse.Detail</p>
            }
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <h4>Success</h4>
            <p>@Message</p>
        </div>
    }
}

@code
{
    [Parameter]
    public bool IsError { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public ErrorResponse ErrorResponse { get; set; }

    private bool IsAlertVisible = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        CloseAlert();
    }

    private void CloseAlert()
    {
        IsAlertVisible = false;
    }
}