<div class="container-fluid todo-page-container" style="width: 90%; margin-top: 2%;">
  <div style="margin-bottom: 3%;" class="d-flex align-items-center flex-column">
    <img src="assets/icons/logo.png" alt="" style="width: 30%"/>
    <div class="d-flex align-items-center mb-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter a title of todolist" [(ngModel)]="todoListTitle"/>
        <button [disabled]="newTodoLoading" class="btn btn-secondary mr-3" (click)="createTodolist()">
          @if (newTodoLoading) {
            <span class="spinner-border spinner-border-sm me-1"></span>
          }
          Create
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="fetchTodoListsLoading || fetchTodayTodoListLoading">
    <div class="d-flex justify-content-center" style="height: 65vh;">
      <div class="spinner-border text-secondary" role="status" style="margin: auto">
      </div>
    </div>
  </div>
  <div *ngIf="!fetchTodoListsLoading && !fetchTodayTodoListLoading">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>TodoLists</button>
        <ng-template ngbNavContent>
          <div class="row" style="margin-top: 3%">
            <div *ngIf="todoListsNotFound">
              <div class="not-found-container">
                TodoLists not found😢
              </div>
            </div>
            <div *ngIf="!todoListsNotFound">
              @for (todoList of todoLists; track todoList) {
                <div class="todo-list-container">
                  <todo-list class="todo-list"
                             [todoList]="todoList"
                             (removeTodoListEvent)="removeTodoList($event)"
                             (addTodoItemEvent)="addTodoItem($event)"
                             (removeTodoItemEvent)="removeTodoItem($event)"
                             (toggleTodoItemEvent)="toggleTodoItem($event)"/>
                </div>
              }
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Today</button>
        <ng-template ngbNavContent>
          <div style="margin-top: 3%">
            <div class="todo-list-container">
              <todo-list class="todo-list" [todoList]="todayTodoList" (removeTodoListEvent)="removeTodoList($event)"
                         (addTodoItemEvent)="addTodoItem($event)" (removeTodoItemEvent)="removeTodoItem($event)"
                         (toggleTodoItemEvent)="toggleTodoItem($event)"/>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
