@using Web.Components.Base;
@using Web.Components;

@inherits TodoBaseComponent;

@page "/todo"

@if (IsError)
{
    <AlertComponent ErrorResponse="@_errorResponse" IsError="true" />
}

@if (IsSuccess) 
{
    <AlertComponent Message="@Message" IsError="false"/>
}

<div class="app-container">
    <div class="d-flex align-items-center flex-column">
        <h3>TaskFlow</h3>
        <div class="d-flex align-items-center mb-3">
            <div class="form-group mr-3 mb-0">
                <input
                    type="text"
                    class="form-control"
                    @bind="TodoListTitle"
                    placeholder="Enter a title of todolist"/>
            </div>
            <button
                type="button"
                class="btn btn-primary mr-3"
                @onclick="CreateTodoList">
                Create
            </button>
        </div>
    </div>
    <div style="margin-bottom: 5%"/>
    <div style="margin: 0 3% 0 3%">
        @if (TodoLists.Count != 0)
        {
            @for (int rowIndex = 0; rowIndex < TodoLists.Count; rowIndex += 3)
            {
                <div class="row">
                    @for (int columnIndex = rowIndex; columnIndex < rowIndex + 3 && columnIndex < TodoLists.Count; columnIndex++)
                    {
                        <div class="col-md-4">
                            <TodoListComponent TodoList="TodoLists[columnIndex]"
                                               OnRemoveTodoList="RemoveTodoList"
                                               OnAddTodoItem="AddTodoItem"
                                               OnRemoveTodoItem="RemoveTodoItem"
                                               OnToggleTodoItem="ToggleTodoItem"/>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div style="margin: auto;">You don't have any todolists yet</div>
        }
    </div>
</div>