<div>
  <div class="d-flex justify-content-between">
    <h5>{{ !todoList.isTodayTodoList ? todoList.title : null }}</h5>
    <button *ngIf="!todoList.isTodayTodoList" class="btn btn-outline-danger" type="button"
            (click)="openRemoveConfirmationDialog()">
      Remove
    </button>
  </div>
  <div style="margin-bottom: 2%"></div>
  <div class="d-flex justify-content-center mb-3">
    <div class="input-group mb-3" style="width: 35%">
      <input type="text" class="form-control" [(ngModel)]="note" placeholder="Enter a note"/>
      <button [disabled]="newTodoItemLoading" class="btn btn-secondary mr-3" (click)="addTodoItem()">
        <span *ngIf="newTodoItemLoading" class="spinner-border spinner-border-sm me-1"></span>
        Add
      </button>
    </div>
    <div style="margin-right: 2%"></div>
    <priority-picker (selectPriorityEvent)="handlePriorityChange($event)"/>
    <div style="margin-right: 2%"></div>
    <date-time-picker (valueChange)="handleDateTimeChange($event)" [isTodayTodoList]="todoList.isTodayTodoList"/>
  </div>
  <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>№</th>
        <th>Note</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="todoList.todoItems.length === 0">
        <td colspan="5" class="text-center">
          {{
            todoList.isTodayTodoList ?
              "There is no tasks for today" : "There is no tasks"
          }}
        </td>
      </tr>
      <tr *ngFor="let item of todoList.todoItems; let i = index" [class]="getTaskColorClass(item)">
        <td [width]="40">{{ i + 1 }}</td>
        <td [class]="getCompletedClass(item.done)" [ngClass]="{ 'disabled-click': item.loading }"
            (click)="toggleTodoItem(item.id)">
          {{ item.note }}
        </td>
        <td [width]="130" (click)="toggleTodoItem(item.id)" [ngClass]="{ 'disabled-click': item.loading }">
          {{ item.done ? 'Done' : 'In progress' }}
        </td>
        <td [width]="60" class="circle-cell">
          <div [class]="getPriorityStyleClass(item.priority)"></div>
        </td>
        <td [width]="170" [class]="getDeadlineClass(item)">
          {{ item.deadline == null ? 'No deadline' : convertDateToReadableFormat(item.deadline) }}
        </td>
        <td [width]="40">
          <div ngbDropdown container="body">
            <button [disabled]="item.loading" type="button" class="btn btn-outline-secondary" ngbDropdownToggle>
              Actions
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>
                <update-todoitem-modal [todoItem]="item" [isTodayTodoList]="todoList.isTodayTodoList"
                                       (updateTodoItemEvent)="updateTodoItem($event)"/>
              </button>
              <button ngbDropdownItem (click)="removeTodoItem(item)">
                Remove
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
