.completed {
  text-decoration: line-through;
}

.table-danger {
  --bs-table-bg: #ffe6e6;
  --bs-table-hover-bg: #fdd8d8;
}

.table-success {
  --bs-table-bg: #dcfddc;
  --bs-table-hover-bg: rgb(203, 249, 203);
}

.deadline-expired {
  color: #ff0000;
}

.low-priority-circle {
  background-color: #d7deea;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.middle-priority-circle {
  background-color: #68c2d2;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.high-priority-circle {
  background-color: #476a9c;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
