.completed {
  text-decoration: line-through;
}

.table-danger {
  --bs-table-bg: #ffe6e6;
  --bs-table-hover-bg: #fdd8d8;
}

.table-success {
  --bs-table-bg: #e7e7e9;
  --bs-table-hover-bg: #dedfe1;
}

.deadline-expired {
  color: #da3544;
}

.low-priority-circle {
  background-color: #afcedb;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.middle-priority-circle {
  background-color: #2da5bb;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.high-priority-circle {
  background-color: #2d5785;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
