@using Web.Components.Base;
@using Web.Components;

@inherits AuthBaseComponent

@page "/login"

@if (IsError)
{
    <AlertComponent ErrorResponse="@_errorResponse" IsError="true"/>
}
<div class="w-25 m-auto">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="_loginRequest" OnValidSubmit="HandleLoginSubmit">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <InputText id="email" 
                           @bind-Value="_loginRequest.Email" 
                           class="form-control"/>
                <ValidationMessage For="() => _loginRequest.Email"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <InputText id="password" @bind-Value="_loginRequest.Password" 
                           class="form-control"
                           type="password"/>
                <ValidationMessage For="() => _loginRequest.Password"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" disabled="@Loading">
                    <span class="spinner-border spinner-border-sm me-1" 
                          style="display: @(Loading ? "inline-block" : "none")"></span>
                    Login
                </button>
                <a href="../" class="btn btn-link">Register</a>
            </div>
        </EditForm>
    </div>
</div>