<div class="todo-container">
  <div class="d-flex align-items-center flex-column">
    <h3>Todo</h3>
    <div class="d-flex align-items-center mb-3">
      <div class="form-group mr-3 mb-0">
        <input type="text" class="form-control" placeholder="Enter a title of todolist" [(ngModel)]="todoListTitle" />
      </div>
      <button type="button" class="btn btn-primary mr-3" (click)="createTodolist()">
        Create
      </button>
    </div>
  </div>
  <div style="margin-bottom: 5%"></div>
  <div style="margin: 0 3% 0 3%"></div>
  <div class="row">
    <!--
    < !-- @for (int columnIndex=rowIndex; columnIndex < rowIndex + 3 && columnIndex < TodoLists.Count; columnIndex++)-->
    <!--      {-->
    <!--      <div class="col-md-4">-->
    <!--          <TodoListComponent TodoList="TodoLists[columnIndex]"-->
    <!--                             OnRemoveTodoList="RemoveTodoList"-->
    <!--                             OnAddTodoItem="AddTodoItem"-->
    <!--                             OnRemoveTodoItem="RemoveTodoItem"-->
    <!--                             OnToggleTodoItem="ToggleTodoItem"/>-->
    <!--      </div>-->
    <!--      }-->
  </div>
  <!--    }-->
  <!--    }-->
  <!--    else-->
  <!--    {-->
  <!--    <div style="margin: auto;">You don't have any todolists yet</div>-->
  <!--    }-->
</div>